.filters {
  display: flex;
  align-items: center;

  .filter {
    display: flex;
    flex-direction: column;
    margin-right: var(--spacing-x-3);
  }

  label {
    margin-bottom: var(--spacing-x-2);
  }

  select {
    background: transparent;
    border: 0;
    font-size: 18px;
    height: 32px;
    padding: 0 32px 0 0;
    position: relative;
    color: var(--col-alt);
  }
}
