doctype html
html(lang='en')

  //- Head
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    title='Settled'

    //- Meta
    meta(name='description', content='Settled')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='author', content='Alex Saunders')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/bluebird/3.3.4/bluebird.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/fetch/2.0.3/fetch.min.js')

  //- Body
  body
    div
      #app.app
